/* base classes */
body {
  background-image: url(../img/1x/bk.png);
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: #464646;
}
a {
  color: white;
}
a:hover {
  color: #b0976e;
}
a:active {
  color: #0000ff;
}
.font-one {
  font-family: "BPG Arial Caps";
}
.font-two {
  font-family: "BPG Irubaqidze";
}
.logo {
  max-width: 80px;
  width: 100%;
}
.nav-link {
  font-size: 24px;
}
/* end base classes */
/* smooth scroll */
html {
  scroll-behavior: smooth;
}
/* end smooth scroll */
/* mukuzani-khvanchkara section */
.fa-wine-glass-alt {
  color: #b0976e;
}
/* .right-img {
  background-image: url(../img/1x/muk-bk.png);
  background-size: cover;
  background-repeat: no-repeat;
} */
.muk {
  width: 100%;

  /* .left-box{
  background-image: url(../img/1x/kh-bk.png);
  background-size: cover;
  background-repeat: no-repeat; */
}
/* end */
/* about-section */
.about-section {
  margin-top: 300px;
}
/* end
/* footer */

.fa-facebook-f {
  color: #354e84;
}
.fa-twitter {
  color: #57acef;
}
.fa-google {
  color: #bd4433;
}
.fa-instagram {
  color: #8e2d3e;
}
.fa-youtube {
  color: #ce201f;
}
.fab {
  font-size: 24px;
}
/* hover effect */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: transparent;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* end hover effect */
