/* base classes */
body {
  background-image: url(../img/1x/bk.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.font-one {
  font-family: "BPG Arial Caps";
}
.logo {
  max-width: 80px;
  width: 100%;
}
.nav-link {
  /* font-family: "BPG Mikheil Stefane", sans-serif; */
  font-family: "BPG Irubaqidze", sans-serif;
  font-size: 24px;
}
/* smooth scroll */
html {
  scroll-behavior: smooth;
}
/*  */

/* .right-img {
  background-image: url(../img/1x/muk-bk.png);
  background-size: cover;
  background-repeat: no-repeat;
} */
.muk {
  width: 100%;

  /* .left-box{
  background-image: url(../img/1x/kh-bk.png);
  background-size: cover;
  background-repeat: no-repeat; */
}
.muki {
  font-family: "BPG Irubaqidze", sans-serif;
}
.about-section {
  margin-top: 300px;
}

/* footer */

.fa-facebook-f {
  color: #354e84;
}
.fa-twitter {
  color: #57acef;
}
.fa-google {
  color: #bd4433;
}
.fa-instagram {
  color: #8e2d3e;
}
.fa-youtube {
  color: #ce201f;
}
.fab {
  font-size: 24px;
}
